.main_container {
    display: flex;
    max-width: 100%;
    padding: 0px 0px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

}

.fourm_master_header {
    display: flex;
    width: 100%;
    height: 220px;
    background: linear-gradient(to right, var(--pink), var(--purple));
    align-items: center;
    justify-content: center;
}

.fourm_master_header_logos {
    text-align: center;
}

.fourm_master_header h1 {
    font-size: 64px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 0;
}

.fourm_master_header p {
    margin-top: 0;
}

.editor_container {
    margin: 0 auto;
    padding: 40px 0px;
    max-width: 1564px;
}

.editor-js{
    border: 1px solid white;
}

@media (max-width: 1664px) {
    .main_container{
        padding: 40px 30px;
    }
}


@media (max-width: 700px) {
    .topic_title {
        height: auto !important;
        font-size: 9px;
    }

    .topic_card_image, .topic_card_image img {
        height: 50px !important;
        width: 50px !important;
        padding: 0 !important;
    }

    .topic_card_container {
        padding: 0px 0px !important;
        margin: 0 !important;
    }

    .category_container {
        padding: 0px 15px !important;
    }
}



.header {
    font-weight: 400;
}

.main_header {
    margin-top: 30px;
    width: 100%;
    
}

.fourm_main_cotent {
    width: 100% !important;
    max-width: 1564px;
    padding: 0px 30px;
}

.fourm_right_sidebar {
    padding: 10px 20px;
    min-width: 300px;
    background-color: var(--bg-lighter);
    border-radius: 0px;
    max-width: 300px;
    height: 300px !important;
    margin-top: 70px;
    height: auto;

}

.width_full {
    width: 100%;
}

.top_spacer {
    height: 10px;
}

.fourm_container {
    width: 100%;
    display: flex;  
}

.category_container {
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: var(--bg-secondary);
    border-radius: 0px;
    padding: 3px 0px;
}

.category_top_header {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.add_topic_btn {
    display: inline-block;
    height: 40px;
    margin-left: auto;
    color: white;
    background-color: var(--pink);
    padding: 0px 15px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-radius: 7px;
    margin-left: 10px;
}

.topic_actions_container {
    margin-left: auto;
}

.category_topics_container {
    padding: 10px;
}

.category_header {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
}

.fourm_content {
    width: 100%;
}

.category_container .bar_seporator {
    width: 100%;
    height: 2px;
    background-color: var(--bg-lighter);
}

.topic_card_container {
    display: flex;
    border-left: 5px solid var(--pink);
    align-items: center;
    cursor: pointer;
    padding: 2px 20px;
    transition: all 0.3s ease;
    width: 100%;
}

.topic_card_container:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 1px solid var(--purple);
}

.topic_stats_container {
    margin-left: auto;
    display: flex;
}

.topic_stats {
    text-align: center;
    margin-right: 20px;
}

.topic_stats h3 {
    margin-bottom: 0px;
}

.topic_stats h4 {
    color: grey;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 5px;
}

.topic_card_container .topic_title {
    font-size: 19px;
    font-weight: bold;
    height: 15px;
}

.topic_card_container .topic_description {
    color: grey;
}

.topic_card_image {
    float: left;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background-color: var(--bg-lighter);
    border-radius: 50px;
}

.topic_card_image img {
    height: 70px;

}


.pagination_list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
  
.pagination_list li {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    min-width: 30px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid var(--bg-lighter);
}

.pagination_list .active {
    background-color: var(--purple);
}

.topic_header {
    width: 100%;
    height: auto;
    border-radius: 0px;
    padding: 10px 0px;
}

.topic_header .header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: 400;
}

.thread_create {
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background-color: var(--pink);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.thread_create_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editor_main_container {
    background-color: var(--bg-secondary);
    width: 100%;
    padding: 10px 25px;
    border-radius: 7px;
}

.editor_input {
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    width: 100%;
    border-bottom: solid var(--purple);
    color: white;
}

.editor_details {
    font-size: 14px;
    color: grey;
}


.post_editor {
    padding: 10px 0px;
    border-radius: 7px;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    width: 100%;
}

.post_thread_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    background-color: var(--pink);
    color: white;
    font-weight: bold;
}

.thread_container {
    padding: 10px 0px;
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    border-radius: 0px;
}


.thread_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    width: 100%;
}

.thread_card .thread_descriptor {
    color: grey;
    font-size: 14px;
}

.thread_title_container {
    display: inline-block;
    height: 9px;
}

.thread_title {
    font-size: 16px;
    font-weight: bold;
}

.bar_seporator {
    height: 1px;
    background-color: rgb(44, 44, 44);
}

.thread_stats {
    float: right;
}

.thread_stats p {
    color: grey;
    font-size: 14px;
}

.topic_creator_info {
    display: flex;
    height: 50px;
    align-items: center;
}


.user_info p {
    padding : 0;
    margin: 3px 8px;
    font-size: 15px;
    color: grey;
}

.user_avatar {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user_info .username {
    color: white;
    font-weight: bold;
}

.fourm_post_container {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    margin-top: 20px;
    border-radius: 0px;
    display: flex;
}

.post_user_container {
    text-align: center;
    width: 200px;
    padding: 10px;
}

.post_user_container .pfp {
    height: 100px;
    width: 100px;
    border-radius: 4px;
    object-fit: cover;
}

.post_user_container .username {
    margin: 0px;
}

.post_user_container .permission_type {
    color: rgb(255, 0, 157);
    padding: 0;
    margin: 0;
}

.reply_continer {
    margin-top: 10px;
    min-height: 100px;
    background-color: var(--bg-lighter);
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.reply_placeholder {
    height: 50px;
    width: 100%;
    background-color: var(--bg-secondary);
    border-radius: 3px;
    cursor: text;
}

.editor_active {
    padding: 10px 30px;
    align-items: flex-start;
}

.reply_placeholder p {
    padding: 0px 20px;
    color: grey;
}

.reply_user_pfp_contianer {
    width: auto;
    margin-right: 10px;
}

.reply_user_pfp_contianer img {
    height: 45px;
    width: 45px;
    border-radius: 3px;
    object-fit: cover;
}

.reply_draft_editor  {
    width: 100%;
    height: auto;
}


.model_popup_container {
    position: absolute;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 100px;
    width: 50%;
    background-color: var(--bg-secondary);
    padding: 0px;
}

.model_popup_greyed {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.input {
    padding: 10px 10px;
    border: 2px solid var(--bg-lighter);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

.content_actions {
    width: 100%;
    padding: 11px 0px;
    height: auto;
    margin-bottom: -10px;
    align-self: flex-end;
}

.content_actions ul {
    margin: 0 !important;
    padding: 0 !important;
}

.content_actions ul li {
    padding: 0px 10px;
    display: inline-block;
}

.content_acitons_name {
    margin-left: 5px;
}

.post_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
}

.delete_button_container {
    background-color: var(--bg-lighter);
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.delete_button{
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 7px;
    background-color: var(--pink);
    color: white;
    margin-right: 10px;
}

.delete_button_red {
    background-color: red !important;
}

.fourm_user_page_container {
    padding: 100px 0px;
    width: var(--max-width);
}

.user_banner {
    width: 100%;
    height: 175px;
    object-fit: cover;
}


.user_stats_container .user_avatar {
    height: 100px !important;
    width: 100px !important;
    border-radius: 50px;
}

.user_stats_container {
    height: auto;
    min-height: 300px;
    width: 100%;
    background-color: var(--bg-secondary);

}

.user_stats_items {
    padding: 0px 20px;
}

.user_stats_items h1 {
    margin: 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.user_stats_items p {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.user_info_flex {
    display: flex;
    margin-top: -75px;
    padding: 0px 20px;
}