.main_container {
    display: flex;
    max-width: 1564px;
    padding: 40px 0px;
    margin: 0 auto;

}

.editor_container {
    margin: 0 auto;
    padding: 40px 0px;
    max-width: 1564px;
}

.editor-js{
    border: 1px solid white;
}

@media (max-width: 1664px) {
    .main_container{
        padding: 40px 30px;
    }
}


@media (max-width: 700px) {
    .topic_title {
        height: auto !important;
        font-size: 9px;
    }

    .topic_card_image, .topic_card_image img {
        height: 50px !important;
        width: 50px !important;
        padding: 0 !important;
    }

    .topic_card_container {
        padding: 0px 0px !important;
        margin: 0 !important;
    }

    .category_container {
        padding: 0px 15px !important;
    }
}



.header {
    font-weight: 400;
}

.main_header {
    margin-top: 70px;
    width: 100%;
    
}

.fourm_main_cotent {
    width: 1230px !important;
    padding: 0px 30px;
}

.fourm_right_sidebar {
    padding: 10px 20px;
    min-width: 300px;
    background-color: var(--bg-lighter);
    border-radius: 6px;
    max-width: 300px;
    height: 300px !important;
    margin-top: 70px;
    height: auto;

}

.width_full {
    width: 100%;
}

.top_spacer {
    height: 10px;
}

.fourm_container {
    width: 100%;
    display: flex;  
}

.category_container {
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    /* border: 2px solid var(--bg-lighter); */ 
    padding: 1px 0px;
}

.category_top_header {
    padding: 0px 20px;
}

.category_topics_container {
    padding: 10px;
}

.category_header {
    font-size: 18px;
    font-weight: 400;
}

.fourm_content {
    width: 100%;
}

.category_container .bar_seporator {
    width: 100%;
    height: 2px;
    background-color: var(--bg-lighter);
}

.topic_card_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 10px;
}


.topic_card_container .topic_title {
    font-size: 19px;
    font-weight: bold;
    height: 15px;
}

.topic_card_container .topic_description {
    color: grey;
}

.topic_card_image {
    float: left;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background-color: var(--bg-lighter);
    border-radius: 50px;
}

.topic_card_image img {
    height: 70px;

}

.topic_header {
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    border-radius: 7px;
    padding: 10px 30px;
}

.topic_header .header {
    font-size: 22px;
    font-weight: bold;
}

.thread_create {
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background-color: var(--pink);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.thread_create_container {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.editor_main_container {
    background-color: var(--bg-secondary);
    width: 100%;
    padding: 10px 25px;
    border-radius: 7px;
}

.editor_input {
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    width: 100%;
    border-bottom: solid var(--purple);
    color: white;
}

.editor_details {
    font-size: 14px;
    color: grey;
}


.post_editor {
    padding: 10px 0px;
    border-radius: 7px;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    width: 100%;
}

.post_thread_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    background-color: var(--pink);
    color: white;
    font-weight: bold;
}

.thread_container {
    padding: 10px 0px;
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    border-radius: 7px;
}


.thread_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    width: 100%;
}

.thread_card .thread_descriptor {
    color: grey;
    font-size: 14px;
}

.thread_title_container {
    display: inline-block;
    height: 9px;
}

.thread_title {
    font-size: 16px;
    font-weight: bold;
}

.bar_seporator {
    height: 1px;
    background-color: rgb(44, 44, 44);
}

.thread_stats {
    float: right;
}

.thread_stats p {
    color: grey;
    font-size: 14px;
}

.topic_creator_info {
    display: flex;
    height: 50px;
    align-items: center;
}


.user_info p {
    padding : 0;
    margin: 3px 8px;
    font-size: 15px;
    color: grey;
}

.user_avatar {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user_info .username {
    color: white;
    font-weight: bold;
}

.fourm_post_container {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
}

.post_user_container {
    text-align: center;
    width: 200px;
    padding: 10px;
}

.post_user_container .pfp {
    height: 100px;
    width: 100px;
    border-radius: 4px;
    object-fit: cover;
}

.post_user_container .username {
    margin: 0px;
}

.post_user_container .permission_type {
    color: rgb(255, 0, 157);
    padding: 0;
    margin: 0;
}