.header_container { 
  position: relative;
  height: 400px;
  z-index: 2;
  width: 100%;
  background-color: var(--bg-secondary);
  display: flex; 
}

.header_wasd {
    font-size: 80px;
    height: 45px;
    margin-left: -5px;
}


.header_left {
    position: relative;
    padding: 50px;
    z-index: 2;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}

.header_video {
    position: absolute;
    z-index: 1;
    top: 0%; 
    z-index: 1;
    left: 0%;
    height: 400px;
    width: 100vw;
    object-fit: cover;
    overflow-y: none;
}

.header_button {
    border: none;
    border-radius: 7px;
    background-color: var(--purple);
    padding: 10px 15px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.header_button:nth-child(2) {
    margin-left: 10px;
}

.pink {
    background-color: var(--pink);
}