.shop_container {
    margin-top: 0px;
    padding: 0px 0px;
}

.shop_header {
    width: 100%;
    height: auto;
    min-height: 350px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.5);
}

.item_card_container {
    width: 240px;
    height: auto;
    min-height: 250px;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-lighter);
}

.shop_items {
    padding: 50px 50px;
}

.item_card_container .item_info {
    margin-top: 10px;
}

.item_info h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.item_info p {
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
}

.item_card_view {
    padding: 5px 0px;
    width: 90%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.item_price{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

.currency {
    font-weight: 400;
    font-size: 16px;
}

.view_item {
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-family: "Roboto";
    background-color: var(--purple);
    color: white;
    font-size: 15px;
    font-weight: 400;
}