.shop_container {
    margin-top: 0px;
    padding: 0px 0px;
}

.shop_header {
    width: 100%;
    height: auto;
    min-height: 350px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.5);
}

.item_card_container {
    width: 240px;
    height: auto;
    min-height: 250px;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-lighter);
}

.shop_items {
    padding: 50px 50px;
}

.item_card_container .item_info {
    margin-top: 10px;
}

.item_info h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.item_info p {
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
}

.item_card_view {
    padding: 5px 0px;
    width: 90%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.item_price{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

.currency {
    font-weight: 400;
    font-size: 16px;
}

.view_item {
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-family: "Roboto";
    background-color: var(--purple);
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.shop_big_item_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.item_picture_side {
    width: 600px;
    height: 600px;
    margin-right: 50px;
}

.item_picture_side img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.item_information_side {
    width: 500px;
}

.item_information_side .price {
    font-size: 36px;
}

.buy_now_button {
    padding: 10px 10px;
    width: 100%;
    font-family: "Roboto";
    border-radius: 7px;
    border: none;
    background-color: var(--purple);
    color: white;
    font-size: 16px;
    font-weight: bold;
}


.gift_button {
    margin-top: 20px;
    background-color: var(--pink);
}

.store_cart_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 0px 50px;
}

.store_cart_inner {
    width: 700px;
}

.cart_long_card_container {
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

.cart_long_card_container h2 {
    font-weight: bold;
    margin-bottom: 0;
}

.cart_long_card_container p { 
    margin-top: 5px;
}

.cart_cart_icons {
    display: flex;
    align-items: center;
}

.store_checkout_box {
    margin-left: 10px;
    width: 300px;
    background-color: var(--bg-lighter);
    height: 500px;
    padding: 10px 30px;
}

.continue_with_paypal {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    font-family: "Roboto";
    background-color: var(--paypal-blue);
    color: white;
}