:root {
    --main-bg: #0E0E0E;
    --bg-secondary: #161616;
    --bg-lighter: #2b2a2a;
    --txt-color: white;
    --bg-purple: #5e06a7;
    --bg-pink: #61085e;

    --border-1: purple;

    --white: #fff;
    --purple: #6911F9;
    --purple-transparent: #6a11f963;
    --pink: #EA0CE1;
    --blue: #1a1952;
    --dark-blue: #0d0d2e;
    --blurple: #5865F2;

    --max-width: 1564px;
}